@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;

}

:root {
    --bg-color: #fff;
    --primary-color: #667AFB;
    --second-text: #555353;
    --text-color: #212447;
    --gradient-3: linear-gradient(134deg, #FFF 5.11%, #CFD5F7 52.57%, #F8F8FC 96.21%, #6361BB 206.55%);
    --shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 60px;
}

section {
    padding: 5rem 9%;
}

.header {
    /* position: fixed; */
    /*fixed artinya ga bergerak*/
    top: 0;
    left: 0;
    width: 100%;
    /*agar lebar memenuhi viewport*/
    padding: 2rem 9%;
    /*2 rem itu jarak si tulisan portfolio ke atas page, 9% diambil dri seluruh kelebaran viewport yg 100%*/
    background: var(--bg-color);
    display: flex;
    /*flex biar semuanya sebaris*/
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /*z-index itu kayak buat layer, semakin gede angkanya, dia bakal makin ke depan. misalkan ada z index:1 sm z-index:3, z-index:1 nya bakal ketiban sm z-index:3*/
}

.header button {
    font-size: 14.828px;
    font-weight: 500;
}

.navbar a {
    margin-right: 60px;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
}

.button {
    display: inline-block;
    padding: 12px;
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    font-weight: 500;
    /* margin-left:27rem; */
    margin-right: 19px;
    transition: ease-in-out .2s;
}

.button:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn {
    display: inline-block;
    padding: 12px;
    background: var(--primary-color);
    border-radius: 6px;
    color: var(--bg-color);
    border: 2px solid var(--primary-color);
    font-weight: 500;
    transition: ease-in-out .2s;
}

.btn:hover {
    color: var(--primary-color);
    background: transparent;
}


.home {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.home-kiri .home-kiri-img {
    margin-bottom: 49px;
    margin-top: 88px;
}

.home-kiri .desc {
    color: var(--second-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    width: 624px;
    margin-bottom: 50px;
}

.home-kiri button {
    font-size: 20px;
    margin-right: 20px;
}

.home-kiri button:hover i {
    transform: translate(3px, -3px);
    transition: transform 0.2s ease-in-out;
}

.home-kanan {
    margin-bottom: -5px;
}

/* Section dua */

.section-title {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 kolom */
    gap: 26px;
    justify-content: center;
    align-items: stretch;
}

.dipercaya {
    margin-top: 28px;
    display: flex;
}

.dipercaya div {
    margin-left: 12px;
}

.dipercaya-p {
    font-size: 18px;
    color: var(--second-text);
    font-weight: 600;
}

.rating {
    display: flex;
    gap: 6px;
}

.rating p {
    font-size: 16px;
    color: var(--second-text);
}

/* Styling card */
.course-card {
    background: white;
    border-radius: 12px;
    padding: 80px;
    margin-top: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    transition: transform 0.3s ease-in-out;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.course-card h4 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 10px;
}

/* KELAS HITS STYLING */
.kelas-hits {
    text-align: center;
}

.kelas-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 kolom */
    gap: 30px;
    margin-bottom: 40px;
}

.kelas {
    margin-top: 50px;
    text-align: left;
    padding: 20px;
    width: 405px;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: ease-in-out .2s;
}

.kelas:hover{
    box-shadow: var(--shadow);
    /* border: transparent; */
}

.kelas-rating {
    display: flex;
    margin-bottom: 12px;
    margin-top: 37px;
}

.kelas-rating p{
    color: var(--second-text);
}

.nama-kelas {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 12px;
}

.desc-kelas {
    font-size: 18px;
    font-weight: 600;
    color: var(--second-text);
    margin-bottom: 35px;
}

.join{
    display: flex;
    justify-content: space-between;
}

.ri-arrow-right-up-line{
    font-size: 26px;
}

.kelas-hits a{
    background: none;
    border: 1px solid var(--second-text);
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
    padding: 10px 35px;
    border-radius: 10px;
    transition: all .2s;
}

.kelas a{
    font-weight: 700;
}

.kelas-hits a:hover{
    background: var(--primary-color);
    color: white;
    border: var(--primary-color);
}

.lihat{
    font-weight: 600;
    align-items: center;
    display: inline-flex;
}

.lihat:hover i {
    transform: translate(3px, -3px);
    transition: transform 0.2s ease-in-out;
}


.price{
    font-size: 28px;
    color: var(--text-color);
font-weight: 700;
}



#mentor {
    text-align: center;
    background: var(--gradient-3);
}

.mentor-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}


.profile h3 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;
}

.profile img {
    margin-bottom: 25px;
}

.mentor-desc {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
    color: var(--second-text);
}

#review {
    background: var(--gradient-3);
    text-align: center;
}

.review-judul {
    margin-bottom: 60px;
    justify-content: center;
}

.siswa-container {
    display: flex;
    gap: 32px;
}

.siswa {
    padding: 20px 29.017px;
    text-align: start;
    background: white;
    border-radius: 18px;
}

.siswa-profile {
    display: flex;
    margin-bottom: 18px;
    gap: 21px;
}

.siswa-profile .nama {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}

.siswa-desc img {
    height: 14px;
}

.student-desc {
    font-size: 15px;
    color: var(--second-text);
    font-weight: 500;
    margin-bottom: 7px;
}

.komentar {
    color: var(--second-text);
}

/* footer section */
footer {
    padding: 3rem 9% 36px;
    background: var(--gradient-3);
}

.footer-atas {
    display: flex;
    /* justify-content: flex-start; */
    margin-bottom: 57px;
}

footer h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
}

footer a {
    margin-bottom: 11px;
    display: flex;
    font-size: 14px;
}

.footer-logo {
    margin-right: 210px;
    width: 250px;
}

.footer-logo p {
    margin-top: 18px;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
}

.footer-link {
    display: flex;
}

.footer-link-atas {
    display: flex;
    margin-right: 180px;
}

.link {
    margin-right: 90px;
}


.copyright {
    margin-top: 39px;
    text-align: center;
    color: var(--second-text);
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 1400px) {
    .home {
        gap: 2rem;
    }

    .home-kiri .desc {
        font-size: 17px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .home-kiri-img {
        height: 150px;
    }

    .footer-link {
        display: flex;
        flex-direction: column;
    }

    .hubungi {
        margin-top: 15px;
    }
}


@media (max-width: 1250px) {
    .home {
        padding-bottom: 4rem;
    }

    .home-kanan {
        display: none;
    }

    .home-kiri .home-kiri-img {
        margin-top: 0px;
    }

    .home-kiri-img {
        height: 250px;
    }

    .mentor-container {
        text-align: center;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        /* 4 kolom */
    }

    .footer-atas {
        justify-content: space-evenly;
    }

    .footer-link-atas {
        margin-right: 0;
    }

    .footer-logo {
        width: 300px;
        margin-right: 0;
    }
}